<% if @user && @user != current_user %>
  <h1><%= @user.username %>'s Feed</h1>
<% else %>
  <h1>Your Feed</h1>
<% end %>

<div class="photos-container">
  <% if @photos.any? %>
    <div class="row">
      <% @photos.each do |photo| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-header">
              <%= link_to photo.owner.username, user_path(photo.owner) %>
            </div>
            <%= link_to photo_path(photo) do %>
              <% if photo.image.attached? %>
                <%= image_tag photo.image, class: "card-img-top" %>
              <% else %>
                <div class="no-image">No image</div>
              <% end %>
            <% end %>
            <div class="card-body">
              <p class="card-text"><%= photo.caption %></p>
              <div class="photo-stats">
                <span><i class="fa fa-heart"></i> <%= photo.likes.count %></span>
                <span><i class="fa fa-comment"></i> <%= photo.comments.count %></span>
                <small class="text-muted"><%= time_ago_in_words(photo.created_at) %> ago</small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="alert alert-info">
      <% if @user && @user != current_user %>
        <p><%= @user.username %>'s feed is empty. They need to follow more users to see photos here!</p>
      <% else %>
        <p>Your feed is empty. Follow more users to see their photos here!</p>
        <%= link_to "Find Users to Follow", users_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
</div> 
